<h2>Find teaching resources</h2>
<p>{{context.length}} results</p>
<ul>
    {{#each context}}
        <li>
            <h3><a href="./teacher-resources/{{id}}/">{{title}}</a></h3>
            <p>{{levels}} Subject: {{subject}}</p>
        </li>
    {{/each}}
</ul>